// ================================================
// 颜色命名在线生成：

// http://chir.ag/projects/name-that-color/#FA8C00
// http://www.color-blindness.com/color-name-hue/    备用
// ================================================

$dd-larioja			: #aac814;
$dd-white       	: #fff;
$dd-black       	: #000;
$dd-silver			: #bbb;
$dd-nobel			: #999;
$dd-mercury			: #e9e9e9;
$dd-trendygreen		: #829619;
$dd-gainsboro		: #e0e0e0;
$dd-nightrider		: #333;
$dd-wildsand		: #f4f4f4;
$dd-dimgray			: #696969;
$dd-dovegray		: #616161;
$dd-charcoal		: #444;
$dd-tundora			: #464646;
$dd-charcoallight	: #404040;
$dd-alto			: #d8d8d8;
$dd-alabaster		: #f9f9f9;
$dd-pizazz			: #ff963c;
$dd-malibu			: #5ABEFF;
$dd-bittersweet		: #ff6e64;
$dd-nero			: #262626;
$dd-supernova		: #F0C800;
$dd-mineshaft		: #3d3d3d;
$dd-pistachio		: #a0be00;
$dd-celery			: #9ccc65;
$dd-sushi			: #7cb342;
$dd-mortar			: #565656;

$dd-ao				: rgba(153,153,153,.6);  //小三角默认，hover是999
$dd-bo 				: rgba(255,255,255,.6);  //小三角（有值）默认，hover是fff
$dd-co    			: rgba(0,0,0,.1); // 阴影透明度
$dd-do    			: rgba(0,0,0,.2);
$dd-eo				: rgba(170,200,20,.2); //$dd-larioja 的透明度20%
$dd-fo 				: rgba(68,68,68,.16);  // $dd-charcoal 的透明度16%

//===============================

$dd-boulder			: #757575;




