//font family
$fontCn: "Myriad Set Pro", "Meiryo", "Hiragino Kaku Gothic Pro", "微软雅黑", "Microsoft YaHei", "冬青黑", "\5FAE\8F6F\96C5\9ED1","SimSun","宋体","Arial Narrow",HELVETICA;
$fontEn: "Myriad Set Pro", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontJp: "Myriad Set Pro", "Meiryo", "Hiragino Kaku Gothic Pro", "メイリオ", "ヒラギノ角ゴ Pro W3";

$font-hidden	:0;
$font-sm		: 12px;
$font-default	: 13px;
$font-big		: 15px;