@import 'colors';



// ================================================
// Font
// ================================================
$base-font-size         : 100% !default; // typically 16px in most browsers
$fontDefault            : rem-calc(12px);
$fontMini               : rem-calc(10px);
$fontBig                : rem-calc(14px);
$fontLarge              : rem-calc(12px);

$f-xxs					: rem-calc(10px);
$f-xs					: rem-calc(11px);
$f-sm					: rem-calc(12px);
$f						: rem-calc(13px);
$f-md					: rem-calc(14px);
$f-lg					: rem-calc(16px);
$f-xl					: rem-calc(18px);
$f-xxl					: rem-calc(20px);
$f-xxxl					: rem-calc(22px);



// ================================================
// Z-index
// ================================================

// Z-index levels
$z-index-level-03       : -3 !default;
$z-index-level-02       : -2 !default;
$z-index-level-01       : -1 !default;
$z-index-level-0        : 0 !default;
$z-index-level-1        : 20 !default;
$z-index-level-2        : 30 !default;
$z-index-level-3        : 40 !default;
$z-index-level-4        : 50 !default;
$z-index-level-5        : 60 !default;
$z-index-level-6        : 70 !default;
$z-index-level-2000     : 2000 !default;
$z-index-level-3000     : 3000 !default;

// Z-index usage
$z-index-editor-header-choose-chart	: $z-index-level-2 !default;
$z-index-editor-side				: $z-index-level-2 !default;
$z-index-editor-aside-setting  		: $z-index-level-01 !default;
$z-index-datasource  				: $z-index-level-6 !default;
$z-index-editor-popup				: $z-index-level-6 !default;
$z-index-editor-custom-fields-body	: $z-index-level-01 !default;
$z-index-dashboard-richtext-toolbar : $z-index-level-1 !default;
$z-index-dashboard-header-more		: $z-index-level-1 !default;
$z-index-editor-wrap				: $z-index-level-1 !default;
$z-index-widget-header              : $z-index-level-1 !default;
$z-index-widget-filter-icon         : $z-index-level-2 !default;


// ================================================
// Size
// ================================================

$mian-aside-width				: rem-calc(220px) !default;
$mian-aside-packup-width        : rem-calc(50px) !default;
$main-aside-header-height		: rem-calc(50px) !default;
$main-body-header-height        : rem-calc(50px) !default;


$editor-body-min-height			: rem-calc(520px) !default;
$editor-body-margin				: rem-calc(20px) !default;
$editor-aside-width				: rem-calc(220px) !default;
$editor-website-data-width	    : rem-calc(220px) !default;
$editor-popup-content-width		: rem-calc(680px) !default;
$editor-header-btn-height		: 30px;

$heatmap-editor-content-width	: rem-calc(360px) !default;

$dashboard-aside-width			: rem-calc(270px) !default;
$dashboard-main-header-height	: rem-calc(50px) !default;
